*{ 
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,0.7)),url(images/French\ Fries.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.nav{
    width: 100%;
    height: 75px;
    margin: auto;
    position: relative;
}

.icon{
    width: 200px;
    height: left;
    height: none;
    border-color: rgb(255, 255, 255);
    position: relative;
        
    }

.logo{
    color: rgb(40, 191, 40);
    font: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-left: 25px;
    float: left;
    position: relative;
}
.menu{
    width: 10px;
    float: left;
    height: 20px;
    padding-top: 30px;
    position: relative;
}
ul{
    float: left;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-top: 1px ;
    font-size: 15px;
    margin-left: 60px;  
}



ul li a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
ul li a:hover{
    color: red;
}
.search{
    width: 330px;
    float: right;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(40, 191, 40);
    margin-top:  13px;
    color: rgb(255, 255, 255);
    border-right: ;
    font-size: 16px;
    float: left;
    padding-left: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn:hover{
        background: rgb(0, 0, 0);
}
.btn{
    width: 100px;
    color: white;
    height: 40px;
    border: 2px solid rgb(40, 191, 40);
    background: rgb(40, 191, 40);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 13px;

    
}
.btn:focus{
                outline:red;}
.srch:focus{
    outline: none;
}
.content{
    width: 80%;
    height: 10%;
    margin-left: 10px;
    margin-right: 50%;
    color: rgb(0, 41, 248);
    padding-top: 10%;
    padding-left: 10%;
    text-align: center;
}
.content .par{
    padding-left: 40px;
    color: rgb(255, 255, 255);
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-left: 20px;
    letter-spacing: 2px;
    color: orange;
    padding-bottom: 20px;
}

.con1{
    width: 160px;
    height: 40px;
    text-decoration: no;
    background: rgb(40, 191, 40);
    border: none;
    margin-bottom:  10px;
    margin-left: 20px;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
    }
.content  .con1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.4s ease;
}
.con1:hover{
    background: black;
}

.card{
    
    width: 15%;
    height: 230px;
    position:inherit;
    display: inline-block;
    border-radius: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 20px;
    margin: 8px;
    background-position: cover;
    background-size: cover;
    transition: transform 0.5;
    overflow: auto;
    
}
.layer{
    width: 100%;
    background:transparent;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s
}
.layer:hover{
    background:  rgb(0,0,0, 0.5);
}
.card1{
    background-image: url(images/Pizza.jpg);
    
}
.card2{
    background-image: url(images/Hot\ dogs.jpg);
}
.card3{
    background-image: url(images/French\ Fries.jpg);
}
.card4{
    background-image: url(images/Sandwich.jpg);
}
.card5{
    background-image: url(images/Hamburger.jpg);
    
    }
.card6{
        background-image: url(images/Italian\ Sandwich.jpg);
}
.card7{
    background-image: url(images/Biryani.jpg);  
}
.card8{
    background-image: url(images/Bolani.jpg);
}
.card9{
    background-image: url(images/Chapli\ Kabab.jpg);
}
.card10{
    background-image: url(images/Kabab.jpg);
}
.card11{
    background-image: url(images/Mantoo.jpg);
    }
.card12{
        background-image: url(images/kabuli.jpg);
        
}
.card h4{
    color: rgb(255, 255, 255);
    margin: 5%;
    padding: 0;
}    

.card:hover{
    transform: translateY(-10px);
    
}
h1{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
    color: white;

}

.Orders{
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    background-image:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,0.7)),url(312.jpg); 
    background-size: cover; 
    
}
h2{
    color:  rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 22px;
    padding: 10px;
    text-align: center
}

.footer{
    width: 100%;
    text-align: center;
    background-image: url(images/footer.jpg);
    background-size: auto;
    
    

}
.footer h4{
    margin-bottom: 2%;
    background-color: orange;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
}
.para1{color: white;
    font-family:cursive

}

.para2{
    padding-left: 15px;
    padding-bottom: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    font-family:time new roman;
    text-align: left;

}

.con-main{
    background-color: chartreuse;
}
.con-header{
    height: 50vh;
    width: 100%;
    background-image:url(images/Background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: green;
}
.con-header h1{
    padding: 180px;
font-size: 28px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.about-us1{
    width: 80%;
    margin: auto;
    padding-top: 120px;
    text-align: center;
    color: orange;
    font-size: 30px;
}
.about-us{
    padding-left: 50px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 50%;
    padding: 30px 2px; 
    width: 39%;
    border: none;
    margin-bottom: 10px;
    margin-left: 2px; 
}
.about-col img{
    width: 50%;
    height: auto;
   padding-right: 60px;
   background-image: url(images/Kabab.jpg);
    
}
.about-col h1{
    padding-left: none;
    color: white;
}

.about-col p{
    padding: 15px 0 25px;
}

.Order-btn:hover{
    background: rgb(0, 0, 0);}

.Order-btn{
    width: 160px;
    height: 40px;
    text-decoration: no;
    background: rgb(40, 191, 40);
    border: none;
    margin-bottom:  10px;
    margin-left: 10px;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
    }
.Order-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.4s ease;
}
.Location{
    width: 80%;
    margin: auto;
    padding: 10px 0;
}
.loc-text{
    color: rgb(40, 191, 40);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
    padding-top: 10%;
    text-align: center;
    padding-bottom: 20px;

}
.Location iframe{
    width: 100%;
}

.contact-us{
    padding-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-us h5{
    font-weight: bold;
    font-size: 20px;
    color: white;
    
}
.or-online{
    color: rgb(40, 191, 40);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-us p{
    font-size: 15px;
    color: grey;
}
.contact-col input, .contact-col textarea{
    width: 90%;
    padding:15px;
    margin-top: 10px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid greenyellow;
    border-radius: 10px;
    background-color: transparent;
}
.s-main{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,0.7)),url(images/Service.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.cards123{
    width: 95%;
    padding-top: 8%;
    padding-bottom: 4%;
    margin-left: 20px;
}
.ord-h1{
    padding-top: 5%;
    width: 100%;
    padding-bottom: 3%;
    float: right;
    color: orange;
    font-size: 30px;
    text-align: center;

}